@import "common";
// 整体侧边栏
.plat-menu{
    padding: 8px 0!important;
    border-right: none;
}
.plat-menu .el-menu-item,.plat-menu .el-submenu__title,.plat-menu .el-submenu .el-menu-item{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.plat-menu .el-submenu .el-menu-item{
    padding: 0 60px!important;
}
.plat-menu .el-submenu [class^=el-icon-],.plat-menu  .el-menu-item [class^=el-icon-]{
    margin-right: 17px;
}
.plat-menu .el-submenu__title:hover,.plat-menu .el-menu-item:focus, .el-menu-item:hover{
    background: #f5f5f5;
}
.plat-menu .el-menu-item.is-active{
    color: $theme-color;
    background: #f5f5f5;
}